@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: auto;
}

.top {
    display: flex;
}

.buttom {
    display: flex;
    margin-top: 35px;
}

h1 {

    width: 365px;
    height: 93px;
    left: 124px;
    top: 91px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;

    margin-top: 54px;
}

.metn {

    width: 662px;
    height: 374px;
    left: 124px;
    top: 202px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;

    margin-right: 200px;
}

.block1 {
    width: 150px;
    height: 39px;
    left: 488px;
    top: 780px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    margin-left: 132px;
    margin-top: 100px;
}

.block2 {
    width: 150px;
    height: 39px;
    left: 488px;
    top: 780px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    margin-left: 95px;
    margin-top: 100px;
}

.block3 {
    width: 150px;
    height: 39px;
    left: 488px;
    top: 780px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    margin-left: 95px;
    margin-top: 100px;
}

img {
    width: 314px;
    height: 315px;
}

.img2 {
    width: 232px;
    height: 203px;
    left: 124px;
    top: 670px;
}

@media only screen and (max-width: 830px) {
    .metn {
        width: 383.41px;
        height: 216.61px;
        left: 72px;
        top: 120.29px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-right: 75px;
    }

    h1 {
        width: 211.4px;
        height: 53.86px;
        left: 72px;
        top: 56px;

        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;

    }

    img {
        width: 181.86px;
        height: 182.44px;
        left: 565.45px;
        top: 134.19px;
    }

    .block1 {
        width: 108px;
        height: 23px;
        left: 214.1px;
        top: 429.95px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;

        margin-left: 1px;
    }

    .block2 {
        width: 108px;
        height: 23px;
        left: 214.1px;
        top: 429.95px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
    }

    .block3 {
        width: 108px;
        height: 23px;
        left: 214.1px;
        top: 429.95px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
    }

    .img2 {
        display: none;
        margin: 0;
    }
}

@media only screen and (max-width: 375px) {
    h1 {
        width: 170.08px;
        height: 43.34px;
        left: 36px;
        top: 56px;

        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
    }

    .metn {
        width: 308.47px;
        height: 174.27px;
        left: 36px;
        top: 107.72px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }

    .top {
        display: inline;
    }

    .block1 {
        width: 86.89px;
        height: 18.17px;
        left: 35px;
        top: 544px;

        font-family: 'Roboto';
        font-style: normal;
        font-size: 10px;
        line-height: 130%;
    }

    .block2 {

        width: 86.89px;
        height: 18.5px;
        left: 154.33px;
        top: 562.46px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        margin-left: 65px;
    }

    .block3 {
        width: 76px;
        height: 18px;
        left: 35px;
        top: 634px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        margin-left: 0;
        margin-top: 65px;
    }

    .buttom {
        display: flex;
        flex-wrap: wrap;
    }

    img {
        width: 170.55px;
        height: 160.29px;
        left: 101px;
        top: 338px;
        margin-top: 60px;
        margin-left: 60px;

    }

    .img2 {
        display: none;
    }
}